* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-image: url("../img/ping-pong.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
  background-color: #252525;
  display: flex;
  flex-direction: column;
}

.container {
  width: 70%;
  flex: 1 0 auto;
  margin-bottom: 10vh;
}

.borders {
  border-radius: 14px 14px 14px 14px;
  -moz-border-radius: 14px 14px 14px 14px;
  -webkit-border-radius: 14px 14px 14px 14px;
}

.blueShadow {
  -webkit-box-shadow:inset 0px 0px 100px 10px rgba(37,37,37,1), 1px -2px 11px 7px rgba(21,101,192,0.4);
  -moz-box-shadow:inset 0px 0px 100px 10px rgba(37,37,37,1), 1px -2px 11px 7px rgba(21,101,192,0.4);
  box-shadow:inset 0px 0px 100px 10px rgba(37,37,37,1), 1px -2px 11px 7px rgba(21,101,192,0.4);
}

.redShadow {
  -webkit-box-shadow: inset 0px 0px 100px 10px rgba(37,37,37,1);
  -moz-box-shadow: inset 0px 0px 100px 10px rgba(37,37,37,1);
  box-shadow: inset 0px 0px 100px 10px rgba(37,37,37,1);
}

.redBlur {
  -webkit-box-shadow: inset 0px 0px 100px 10px rgba(37,37,37,1), 1px -2px 11px 7px rgba(198,40,40,0.4);
  -moz-box-shadow: inset 0px 0px 100px 10px rgba(37,37,37,1), 1px -2px 11px 7px rgba(198,40,40,0.4);
  box-shadow: inset 0px 0px 100px 10px rgba(37,37,37,1), 1px -2px 11px 7px rgba(198,40,40,0.4);
}

#introduction {
  background-color: rgba(21,101,192,0.6);
  height: 20vw;
  width: 100%;
  /*padding-left: 2%;*/
  /*padding-top: 1%;*/
  margin-top: 10vh;
  margin-bottom: 7vh;
}

#introduction h1 {
  font-family: 'Dhurjati', sans-serif;
  font-size: 8vw;
  word-spacing: 15px;
  text-align: center;
  padding-bottom: 1vh;
  color: #ffffff;
}

#introduction p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.3vw;
  word-spacing: 8px;
  padding: 0 3% 0 3%;
  color: #999999;
}

#number,
#result {
  font-family: 'Dhurjati', sans-serif;
  font-size: 30px;
  background-color: rgba(198,40,40,0.71);
  color: #999999;
}

#number {
  height: 100px;
  border-style: none;
  width: 80%;
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
}

#ballButton {
  font-weight: bold;
  margin-left: 10%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  -webkit-box-shadow: inset 27px 28px 45px -1px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 27px 28px 45px -1px rgba(0,0,0,0.6);
  box-shadow: inset 27px 28px 45px -1px rgba(0,0,0,0.6);
  border: 0;
}

#ballButton:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


#result {
  height: 200px;
  width: 70%;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
}

.blue {
  color: #1565c0;
}

.white {
  color: #ffffff;
}

.yellow {
  color: #c08f15;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
}

footer {
  font-size: 1.3em;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #999999;
}

@media screen and (max-width: 991px) {
  .container {
    width: 90%;
  }

  #introduction {
    height: 43vw;
  }

  #introduction h1 {
    font-size: 15vw;
  }

  #introduction p {
    font-size: 2.3vw;
    word-spacing: 8px;
    padding: 0 3% 0 3%;
    color: #999999;
  }

  #number,
  #result {
    font-size: 60px;
    text-align: center;
    height: 200px;
    width: 90%;
  }

  #ballButton {
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-left: 10%;
    font-size: 20px;
  }

  #number {
    float: left;
    width: 60%;
    margin-left: 5%;
    margin-bottom: 10vh
  }

  footer {
    font-size: 1.5em;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
}
